.primary-button {
  background-color: transparent;
  border: 2px solid #61dafb;
  border-radius: 5%;
  color: #61dafb;
  margin: 0 2vw;
  padding: 1.5vh 1.5vw;
  text-decoration: none;
}

.primary-button:hover {
  background-color: #61dafb;
  border: 2px solid #61dafb;
  color: #282c34;
}

.app-container {
  display: grid;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
  height: 100vh;
}

.app-section {
  scroll-snap-align: start;
}

@media only screen and (max-width: 992px) {
  .primary-button {
    margin: 1vh 0vw;
    width: 40vw;
    font-size: calc(10px + 1.5vmin);
  }
}
